body{
    background-color: aqua;
    background-color: rgb(153, 130, 160);
    background-color: rgba(153, 130, 160, 0.7);
    background-color: hsl(294, 59%, 74%);
    background-color: hsla(294, 59%, 74%, 0.7);
    background-color: transparent;
    background-color: #10aaff;
}

#div-bg{
    width: 50%;
    background-color: white;
    opacity: .5;
}

.div-test{
    background-color: yellow;
    border: 5px dashed black;

    margin: 30px;
    padding: 20px;
    width: 20%;
    float: left;
}

#div1{
    background-clip: border-box;
}

#div2{
    background-clip: padding-box;
}

#div3{
    background-clip: content-box;
}

#bg-img{
    width: 70%;
    height: 800px;
    border: 1px solid black;
    background-image: url("../sample/image/bgsample.PNG");

    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;

    background-size: auto;
    background-size: contain;
    background-size: cover;
    background-size: 150px 100px;
    /* background-size: 80% 80%; */
    
    background-position: left top;
    background-position: right top;
    background-position: center top;

    background-position: left bottom;
    background-position: right bottom;
    background-position: center bottom;

    background-position: left center;
    background-position: right center;
    background-position: center center;

    background-position: 30px 50px;

    background-attachment: scroll;
    background-attachment: fixed;
}

#bg-all{
    border: 1px solid black;
    width: 100px;
    height: 100px;

    background: url("../sample/image/iconsample.PNG") no-repeat;
}